.top-container {
  background-color: lightblue;
  text-align: center;
  font-family: "merriweather", serif;
}

.bottom-container {
  background-color: lightblue;
  padding: 50px 0 20px;
}

body {
  text-align: center;
  margin: 0;
}

hr {
  border: dotted lightblue 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h1 {
  font-size: 80px;
  font-family: "Sacramento", cursive;
}

h2 {
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 40px;
}

h3 {
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 40px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 40px;
}

.contact-me {
  margin: 100px auto auto auto;
  border-bottom: none;
}

.middle-container {
  background-color: whitesmoke;
}

a {
  color: #11999e;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: bold;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: black;
}

/* change headshot to be centered */
.headShot {
  width: 15%;
  text-align: center;
  border-top: 100%;
}

.circular {
  border-radius: 100%;
  background-color: whitesmoke;
}

.icons {
  font-size: 5px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.code-img {
  float: left;
  margin-right: 30px;
}

.running-img {
  float: right;
  margin-left: 30px;
}

.copywrite {
  font-family: "Zen Maru Gothic", sans-serif;
}
