.top-container {
  background-color: lightblue;
  text-align: center;
  font-family: "merriweather", serif;
}

.menu {
  position: absolute;
  top: 8px;
  left: 16px;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: grey; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.bottom-container {
  background-color: lightblue;
  padding: 50px 0 20px;
}

body {
  text-align: center;
  margin: 0;
}

hr {
  border: dotted lightblue 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h1 {
  font-size: 80px;
  font-family: "Sacramento", cursive;
}

h2 {
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 40px;
}

h3 {
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 40px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 40px;
}

.contact-me {
  margin: 100px auto auto auto;
  border-bottom: none;
}

.middle-container {
  background-color: white;
}

a {
  color: #11999e;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: bold;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: black;
}

/* change headshot to be centered */
.headShot {
  width: 15%;
  text-align: center;
  border-top: 100%;
}

.circular {
  border-radius: 100%;
  background-color: whitesmoke;
}

.icons {
  font-size: 5px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.code-img {
  float: left;
  margin-right: 30px;
}

.running-img {
  float: right;
  margin-left: 30px;
}

.copywrite {
  font-family: "Zen Maru Gothic", sans-serif;
}
